.DS_Store
node_modules
data
__pycache__


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
etl/**/*.json
etl/**/*.csv
etl/**/*.log
etl/**/*.tar.gz
etl/logs
etl/test/**/logs
/etl/data_management/upload/
/etl/data_management/backups/